      <app-input-field
        label="Nombre completo"
        placeholder="Ingrese su nombre"
        [required]="true"
        color="blue">
      </app-input-field>
        <app-input-field
        label="Correo electrónico"
        mask="email"
        [required]="true"
        prefixIcon="✉️"
        color="indigo">
      </app-input-field>
        <app-input-field
        label="Fecha de nacimiento"
        mask="fecha"
        dateFormat="dd/mm/yyyy"
        [required]="true"
        prefixIcon="📅"
        color="green">
      </app-input-field>
        <app-input-field
        label="Fecha de inicio"
        mask="fecha"
        dateFormat="mm/dd/yyyy"
        prefixIcon="📅"
        color="purple">
      </app-input-field>
